# Environnements virtuels
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# Fichiers exportés
export/
*.pdf
*.docx

# Uploads utilisateurs
static/uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
