<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lettrix - Free Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2GWQ65VDQC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-2GWQ65VDQC');
    </script>

  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a class="brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='logo.png') }}"
               alt="Lettrix Logo"
               style="height:40px; vertical-align:middle; margin-right:10px;">
          Lettrix Free
        </a>
      </div>
    </nav>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, msg in messages %}
            <div class="alert {{ 'alert-success' if category=='success' else 'alert-warning' }}">{{ msg }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
